<h2>スケジュール一覧</h2>

<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% end %>
<div class="main_container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.title %></td>
          <td><%= task.start_at.strftime('%Y年%m月%d日') %></td>
          <td><%= task.end_at.strftime('%Y年%m月%d日') %></td>
          <% if task.allday == true %>
            <td> ○  </td>
          <% else  %>
            <td>　</td>
          <% end %>
          <td><%= task.updated_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "確認", task_path(task) %>
          <td><%= link_to "編集", edit_task_path(task) %>
          <td><%= link_to "削除", task_path(task), method: :delete, data: { confirm: "本当に削除しますか？"} %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><%= link_to "スケジュール新規登録", new_task_path %></p>
