<h2>スケジュール詳細</h2>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @task.start_at %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @task.end_at %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @task.allday %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @task.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール一覧", tasks_path %></li>
  </ul>
</div>
